@import '~normalize.css';

@font-face {
    // Variable Font
    font-family: 'Montserrat';
    src: url('../fonts/montserrat.woff2');
}

html,
body {
    height: 100%;
}

#app {
    font-family: 'Montserrat';
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fadeInRight {
    animation-name: fadeInRight;
}

@keyframes fadeOutRight {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
}

.fadeOutRight {
    animation-name: fadeOutRight;
    position: absolute;
}

.move {
    transition: all 0.3s ease-out;
}

.fadeInRight,
.fadeOutRight {
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #6d4c40;
    border: 0px;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0px 0px 10px -5px black;
    outline: none;
    cursor: pointer;

    &:active {
        box-shadow: inset 4px 4px 5px -5px black;
        transform: scale(0.96, 0.96);
    }
    svg {
        fill: white;
        height: 1.2rem;
        width: 1.2rem;
    }
    &:hover,
    &:focus {
        background: #916d60;
    }
}
