@import '~normalize.css';

@font-face {
    // Variable Font
    font-family: 'Montserrat';
    src: url('../fonts/montserrat.woff2');
}

html,
body {
    height: 100%;
}

#app {
    font-family: 'Montserrat';
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fadeInRight {
    animation-name: fadeInRight;
}

@keyframes fadeOutRight {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
}

.fadeOutRight {
    animation-name: fadeOutRight;
    position: absolute;
}

.move {
    transition: all 0.3s ease-out;
}

.fadeInRight,
.fadeOutRight {
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #6d4c40;
    border: 0px;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0px 0px 10px -5px black;
    outline: none;
    cursor: pointer;

    &:active {
        box-shadow: inset 4px 4px 5px -5px black;
        transform: scale(0.96, 0.96);
    }
    svg {
        fill: white;
        height: 1.2rem;
        width: 1.2rem;
    }
    &:hover,
    &:focus {
        background: #916d60;
        outline: none;
    }
}

.torrent-list,
.file-explorer {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    row-gap: 0.5rem;
    margin-top: 3rem;
    margin-bottom: 6rem;
}

.torrent-item,
.folder,
.file {
    position: relative;
    grid-column: 2;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
    align-items: center;
    border-radius: 10px;
    outline: none;
    border: 1px solid transparent;
    color: #6d4c40;
    font-weight: 500;
    font-size: 0.9rem;
    background-repeat: no-repeat;

    &:hover,
    &:focus {
        border: 1px solid #6d4c40;
    }

    .torrent-item-download,
    .folder-download,
    .file-download {
        justify-self: end;
        padding: 0.5rem;
        svg {
            height: 1.1rem;
            width: 1.1rem;
        }
    }

    .torrent-item-size,
    .torrent-item-count,
    .folder-count,
    .file-size {
        justify-self: center;
    }

    .torrent-item-name,
    .folder-name,
    .file-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .progress {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 0.7rem;
        padding: 0.5rem;
        border-radius: 20px;
        background: #077503;
        color: #fff;
    }

    &.downloading {
        box-shadow: 0px 0px 25px -15px black;
    }
}

@media (max-width: 768px) {
    .torrent-item {
        grid-template-columns: auto auto 4fr 1fr;
        grid-template-rows: auto auto;
        column-gap: 1rem;

        .torrent-item-name {
            grid-column: 1 / span 3;
        }

        .torrent-item-size {
            grid-row: 2;
            grid-column: 1;
        }

        .torrent-item-count {
            grid-row: 2;
            grid-column: 2;
        }

        .torrent-item-download {
            grid-row: 1 / span 2;
            grid-column: 4;
        }
    }
}

// overrides for .folder and .file
.folder {
    grid-template-columns: 40px 5fr 1fr 1fr;
    .folder-icon > svg {
        fill: #6d4c40;
        font-size: 20px;
    }
}

.file {
    grid-template-columns: 5fr 1fr 1fr;
}

@media (max-width: 768px) {
    .file {
        grid-template-columns: auto 4fr 1fr;

        .file-name {
            grid-column: 1 / span 2;
        }

        .file-size {
            grid-row: 2;
            grid-column: 1;
            font-size: 0.7em;
            font-weight: bold;
        }

        .file-download {
            grid-column: 3;
            grid-row: 1 / span 2;
        }
    }

    .folder {
        grid-template-columns: 30px auto 4fr 1fr;
        .folder-name {
            grid-column: 2 / span 2;
        }

        .folder-count {
            grid-row: 2;
            grid-column: 1 / span 2;
            font-size: 0.7em;
            font-weight: bold;
        }

        .folder-download {
            grid-column: 4;
            grid-row: 1 / span 2;
        }
    }
}
